{
    "[HDD-2TB] Загрузки": {
        "save_path": "/mnt/hdd2tb/Загрузки"
    },
    "[HDD-2TB] Сериалы": {
        "save_path": "/mnt/hdd2tb/Сериалы"
    },
    "[HDD-2TB] Фильмы": {
        "save_path": "/mnt/hdd2tb/Фильмы"
    },
    "[HDD-4TB] Загрузки": {
        "save_path": "/mnt/hdd4tb/Загрузки"
    },
    "[HDD-4TB] Сериалы": {
        "save_path": "/mnt/hdd4tb/Сериалы"
    },
    "[HDD-4TB] Фильмы": {
        "save_path": "/mnt/hdd4tb/Фильмы"
    }
}
