[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=false
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/etc/qbittorrent/qBittorrent/data/logs

[BitTorrent]
Session\AlternativeGlobalDLSpeedLimit=7700
Session\AlternativeGlobalUPSpeedLimit=500
Session\DefaultSavePath=/mnt/hdd4tb/Загрузки
Session\DisableAutoTMMByDefault=false
Session\ExcludedFileNames=
Session\GlobalMaxSeedingMinutes=0
Session\GlobalUPSpeedLimit=500
Session\MaxActiveDownloads=1
Session\MaxActiveTorrents=1
Session\MaxActiveUploads=1
Session\MaxConnectionsPerTorrent=200
Session\MaxRatioAction=1
Session\MaxUploads=50
Session\Port=21792
Session\QueueingSystemEnabled=true
Session\SaveResumeDataInterval=1
Session\SubcategoriesEnabled=true
Session\TorrentContentLayout=Original
Session\TorrentExportDirectory=
Session\UseAlternativeGlobalSpeedLimit=true

[Core]
AutoDeleteAddedTorrentFile=Never

[Meta]
MigrationVersion=6

[Preferences]
General\Locale=ru
MailNotification\req_auth=true
WebUI\AuthSubnetWhitelist=192.168.1.0/24
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\CSRFProtection=false
WebUI\LocalHostAuth=true
WebUI\Password_PBKDF2="@ByteArray(8lhGysJb0Onb0oaWsE57pA==:012gpmmJViya61RycRAvg1Xdq2Ypi1s4zTOz8hNkNxPgyGi+3eHYw60ooANdx0ByW7BPjLQNaLHExQ0/sDPJYQ==)"
WebUI\Username=root

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
